@use '@carbon/layout' as *;
@import '@carbon/styles/scss/utilities/box-shadow';

.container {
  margin: $spacing-04 0 $spacing-08 0;
  column-gap: $spacing-04;
  padding: 0 $spacing-05;
}

.titleContainer {
  margin-bottom: $spacing-06;

  &:last-child {
    margin-bottom: 0;
  }
}

.title {
  margin: $spacing-04 0;
}

.tile {
  padding: 0;

  &:hover {
    @include box-shadow;
  }
}