@use '@carbon/colors' as *;
@use '@carbon/grid' as *;

.container {
  border: 1px solid $cool-gray-20;
  align-items: center;

  @include breakpoint-down('md', $breakpoints: $grid-breakpoints) {
    display: flex;
    flex-direction: row;
  }
}

.image {
  display: flex;
}

.icons {
  justify-self: end;

  @include breakpoint-down('md', $breakpoints: $grid-breakpoints) {
    margin-right: 0;
    position: absolute;
    right: 0
  }
}