@use '@carbon/colors' as *;
@use '@carbon/layout' as *;
@use '@carbon/grid' as *;

.container {
  padding: 0 $spacing-04;

  @include breakpoint-up('md') {
    padding: 0 $spacing-05;
  }
}

.tileContainer {
  margin: 0;
  border: 1px solid $cool-gray-20;

  &:last-child {
    border-left: none;
  }
}

.tile {
  line-height: 2;
  text-align: center;
}

.tile:not(:last-child) {
  border-left: none;
}